In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__ 
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:

("- Python")
("- R")
("- SQL")

In [17]:
### Results

print('{:20} | {:20}'.format('Data Science Tools'))
print('--------------------+-------------------------')
print('{:20} | {:20}'.format(''Google Colab'))
print('{:20} | {:20}'.format('RStudio'))
print('{:20} | {:20}'.format(Visual Studio Code'))

Data Science Tools
--------------------+-------------------------
Google Colab
RStudio
Visual Studio Code

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author 
Mohamed Cherif